tensorflow
numpy
streamlit
matplotlib
pillow
opencv-python==4.7.0.68
mediapipe~=0.10.14
scikit-learn~=1.5.1
fastapi
uvicorn

pandas~=2.2.3
seaborn~=0.13.2
joblib~=1.4.2
protobuf~=4.25.5
tqdm~=4.67.1
fastapi~=0.110.3
inference~=0.38.0